* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, rgba(25,135,161,1) 0%, rgba(9,64,121,1) 50%);
  margin: 0;
  position: relative;
}

/* ----------------------- SCREEN ELEMENTS ----------------------- */

.myPC {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
  width: 10rem;
}

.trash {
  position: absolute;
  top: 7rem;
  left: 0;
  padding: 3rem;
  width: 10rem;
}

.systemBar {
  position: absolute;
  bottom: 0;
  background-color: seashell;
  height: 3rem;
  width: 100%;
  display: flex;
}

.assembler-logo {
  margin: 8px;
  height: 2rem;
  padding-right: 1rem;
  border-right: 1px solid #B5522C;
}

.calculatorLogoBar {
  margin: 8px;
  height: 2rem;
  cursor: pointer;
}

.numNotification {
  top: 0;
  right: 0;
  background-color: #FD544D;
  color: seashell;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 11rem;
  margin-bottom: 6rem;
  top: -1rem;
}

/* ----------------------- SHELL WINDOW (see JS for more info and styles) ----------------------- */

.operSummary {
  position: absolute;
  display: none;
  background-color: #012456;
  height: 20rem;
  max-height: 20rem;
  overflow-y: scroll;
  width: 30rem;
  padding-right: 2rem;
  padding-left: 1rem;
  transform: translateX(25rem);
  border-top: 1.5rem solid seashell;
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.33);
  color: seashell;
  font-family: 'Courier New', Courier, monospace;

}

.operSummary.show {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* TODO animation .minimize {
  
} */

/* ----------------------- CALCULATOR BLOCK ----------------------- */

.calculator {
  padding: 1rem;
  max-width: 16rem; /*16 rem = 250px*/
  background-color: seashell;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.33);
}

/* ----------------------- WINDOW CALCULATOR CONTROLLERS ----------------------- */

.divcontrollerballs {
  display: flex;
  flex: 1;
}

.controllerballs {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin: 0.25rem;
  cursor: pointer;
}

.redball {
  background-color: #FD544D;
}

.yellowball {
  background-color: #FFC02F;
}

.greenball {
  background-color: #28CA40;
}

/* ----------------------- DARK MODE SWITCH ----------------------- */

.theme {
  display: flex;
  justify-content: flex-end;
}

.checkbox:checked + .label .ball {
  transform: translateX(22px)
}

.label {
  /* display: flex;
  align-items: center; */
  height: 26px;
  width: 50px;
  background-color: #254278;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.ball {
  position: absolute;
  height: 22px;
  width: 22px;
  top: 2px;
  left: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.1s linear;
}


/* ----------------------- CALCULATOR MODULE ----------------------- */

.displayNums {
  text-align: right;
  background-color: #EFEFEF;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  margin: 2rem 0;
}

.history {
  font-size: 0.7rem;
  padding-top: 0.4rem;
  min-height: 1.5rem;
}

.operation {
  font-size: 1.7rem;
  margin-top: 0.4rem;
}

.operators {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
}

button {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border-width: 0;
  height: 50px;
  width: 50px;
  background-color: seashell;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #e7dfda;
}

.operator {
  background-color: #EFEFEF;
}

.operator:hover {
  background-color: #cdccd8;
}

.equal {
  background-color: #07DEB0;
  color: white;
}

.equal:hover {
  background-color: #1cc09c;
}

/* ----------------------- DARK MODE ----------------------- */

.checkbox:checked + .label {
  background-color: #1cc09c;
}

.calculator.dark {
  background-color: #2E3951;
}

.number.dark, .decimal.dark, .historyButton.dark {
  color: #95A79F;
  background-color: #2E3951;
}

.number.dark:hover, .decimal.dark:hover, .historyButton.dark:hover {
  background-color: #2b3346;
}

.displayNums.dark, .operator.dark {
  color: #07DEB0;
  background-color: #212B41;
}

.operator.dark:hover {
  background-color: #161d2b;
}

.equal.dark {
  background-color: #07DEB0;
  color: black;
}

.equal.dark:hover {
  background-color: #1cc09c;
}

/* ----------------------- UTILS ----------------------- */

.bold {
  font-weight: bold;
}

.textAlignRight {
  text-align: right;
}

.hidden {
  display: none;
}



/* ----------------------- DISCARDS PENDING REVISION BECAUSE OF REFACTOR OR PREVIOUS REVISIONS ----------------------- */

/* .openCalculator {
  background-color: seashell;
  color: black;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
} */

/* .openButton {
  display: none;
} */

/* .showOpenButton {
  display: inline;
} */

/* .decimal.dark {
  color: #95A79F;
  background-color: #2E3951;
} */

/* .decimal.dark:hover {
  background-color: #2b3346;
} */

/* .historyButton.dark:hover {
  background-color: #2b3346;
} */

/* .historyButton.dark {
  color: #95A79F;
  background-color: #2E3951;
} */

/* .operator.dark {
  color: #07DEB0;
  background-color: #212B41;
} */